<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>DrinkTubig: Mobile Based Water Refilling Stations Ordering and Delivery System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="assets/images/icon/favicon/favicon.ico">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/themify-icons.css">
    <link rel="stylesheet" href="assets/css/metisMenu.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/slicknav.min.css">
    <!-- others css -->
    <link rel="stylesheet" href="assets/css/typography.css">
    <link rel="stylesheet" href="assets/css/default-css.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <!-- modernizr css -->
    <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>

    <link rel="stylesheet" href="assets/other/leaflet/dist/leaflet.css">

</head>


<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
  
    <!-- page container area start -->
    <div class="page-container">
        <!-- sidebar menu area start -->
        <div class="sidebar-menu">
            <div class="sidebar-header ">
                
                    <a href="dashboard.html"><!-- <img src="assets/images/icon/logo.png" alt="logo"> --><h2 style="color:white;text-align:center">DrinkTubig</h2></a>
            </div>
            <div class="main-menu">
                <div class="menu-inner">
                    <nav>
                          <ul class="metismenu" id="menu">
                             <li><a href="dashboard.html"><i class="fa fa-tachometer"></i> <span>Dashboard</span></a></li>
                             <li class="active"><a href="view-stores.html"><i class="fa fa-building"></i> <span>Stores</span></a></li>
                             <li><a href="view_products.html"><i class="fa fa-product-hunt"></i> <span>Products</span></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- sidebar menu area end -->
        <!-- main content area start -->
        <div class="main-content">
            <!-- header area start -->
            <div class="header-area">
                <div class="row align-items-center">
                    <!-- nav and search button -->
                    <div class="col-md-3 col-sm-8 clearfix">
                        <div class="nav-btn pull-left" style="background:none">
                            <span style="background-color:#b3aaaa"></span>
                            <span style="background-color:#b3aaaa"></span>
                            <span style="background-color:#b3aaaa"></span>
                        </div>
                    </div>
                     <div class="col-md-9 col-sm-6 clearfix text-right">
                        <div class="d-md-inline-block d-block mr-md-4">
                             <!-- Hide Notification First -->
                            <ul class="notification-area" hidden>
                                <li class="dropdown">
                                    <i class="ti-bell dropdown-toggle" data-toggle="dropdown">
                                        <span></span>
                                    </i>
                                    <div class="dropdown-menu bell-notify-box notify-box">
                                        <span class="notify-title">Notifications <a href="#">view all</a></span>
                                        <div class="nofity-list">
                                            <a href="#" class="notify-item">
                                                
                                                <div class="notify-text">
                                                    <p>You have Changed Your Password</p>
                                                    <span>8/03/2021</span>
                                                </div>
                                            </a>
                                            <a href="#" class="notify-item">
                                                
                                                <div class="notify-text">
                                                    <p>New Commetns On Post</p>
                                                    <span>7/29/2021</span>
                                                </div>
                                            </a>
                                            <a href="#" class="notify-item">
                                                
                                                <div class="notify-text">
                                                    <p>Some special like you</p>
                                                    <span>7/25/2021</span>
                                                </div>
                                            </a>
                                            <a href="#" class="notify-item">
                                                
                                                <div class="notify-text">
                                                    <p>New Commetns On Post</p>
                                                    <span>7/24/2021</span>
                                                </div>
                                            </a>
                                            <a href="#" class="notify-item">
                                                
                                                <div class="notify-text">
                                                    <p>Some special like you</p>
                                                    <span>7/20/2021</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                          <!-- Hide Notification -->
                        </div>
                        <div class="clearfix d-md-inline-block d-block">
                            <div class="user-profile m-0 p-2" style="background:none;">
                                <img class="avatar user-thumb" src="assets/images/author/avatar.png" alt="avatar" style="border:1px solid black;padding:3px">
                                <h4 class="user-name dropdown-toggle" data-toggle="dropdown" style="color:black"> Ray Vincent Laborte <i class="fa fa-angle-down"></i></h4>
                                <div class="dropdown-menu">

                                <a class="dropdown-item pt-2" href="profile-settings.html" style="font-size:16px;">Profile Settings</a>
                                
                                <hr>
                                 <a class="dropdown-item" href="../../login.html" style="font-size:16px;">Log Out</a>
                            </div>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
            <!-- header area end -->
            <!-- page title area start -->
            <div class="page-title-area">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <div class="breadcrumbs-area clearfix">
                            <h4 class="page-title pull-left">Stores</h4>
                            <ul class="breadcrumbs pull-left">
                                <li><a href="dashboard.html">Home</a></li>
                                <li><span>Stores</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 clearfix" style="height:60px;">
                       
                    </div>
                </div>
            </div>
            <!-- page title area end -->
           <div class="main-content-inner">
                <div class="row">
                    <!-- Progress Table start -->
                    <div class="col-12 mt-5">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="header-title" style="text-transform: none;">List of Stores</h4>
                             </div>
                    <div class="card-body">
                       <div class="col-md-6">
                         <div class="container content clear-fix">
                            <h2 class="mt-5 mb-5">Add Business Permit</h2>
                                <div class="row" style="height:100%">
                     
                            <div class="col-md-12">
                                <div class="container">
                                    <form id="upload-permit-form">
                                                        
                         <input type="hidden" id="storeID">        
                         <input type="hidden" id="displayAddImage1">
                         <input type="hidden" id="displayAddImage2">

                          <div class="form-group">
                            <label>Store Image</label>
                             <div>
                                 <img class="displayAddImage img-thumbnail" aria-required="true" style="width: 100%; height: 400px; border:none;">
                             </div>
                             <!-- <button id="selectImageAdd" class="btn btn-success btn-sm mt-2">Add Image</button> -->
                             <input type="file" id="stores-image" class="text-center center-block file-upload mt-2 mb-2" required>
                              <label id="UpProgress"></label>
                        </div>


                                      
                                        <div class="row mt-5">
                                            <div class="col">
                                            <button type="button" id="submit" class="btn btn-primary btn-block">Save Changes</button>
                                        </div>
                                            <div class="col">
                                                <a href="view-stores.html" class="btn btn-danger btn-block text-white">Cancel</a>                                           
                                            </div>
                                        </div>

                                      
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>  
                 </div>
                           </div>


                            </div>
                        </div>
                    </div>
                    <!-- Progress Table end -->
                </div>
            </div>
                    <!-- Progress Table end -->
        <!-- offset area start -->           
    </div>


    <!-- offset area end -->
    <!-- jquery latest version -->
    <script src="assets/js/vendor/jquery-2.2.4.min.js"></script>
    <!-- bootstrap 4 js -->
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/metisMenu.min.js"></script>
    <script src="assets/js/jquery.slimscroll.min.js"></script>
    <script src="assets/js/jquery.slicknav.min.js"></script>

    <!-- all line chart activation -->
    <script src="assets/js/line-chart.js"></script>
    <!-- all pie chart -->
    <script src="assets/js/pie-chart.js"></script>
    <!-- others plugins -->
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/scripts.js"></script>
    
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-auth.js"></script>


      <script>
        var firebaseConfig = {
          apiKey: "AIzaSyCoOjba1Ej7CJzg_sNXdfMUhQwqbV5Cruo",
          authDomain: "drinktubig-bcaf5.firebaseapp.com",
          projectId: "drinktubig-bcaf5",
          storageBucket: "drinktubig-bcaf5.appspot.com",
          messagingSenderId: "865738659083",
          appId: "1:865738659083:web:60d90ffd1add62930a3e0e",
          measurementId: "G-8ETGGW6B5L"
        };
        firebase.initializeApp(firebaseConfig);
        const db = firebase.firestore();
    </script>

<script>
        
        var getUrlParameter = function getUrlParameter(sParam) {
        var sPageURL = window.location.search.substring(1),
        sURLVariables = sPageURL.split('&'),
        sParameterName,
        i;

    for (i = 0; i < sURLVariables.length; i++) {
        sParameterName = sURLVariables[i].split('=');

        if (sParameterName[0] === sParam) {
            return typeof sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
        }
    }
    return false;
};
    
    var show_id = getUrlParameter('id');

    $('#storeID').val(show_id);

</script>

  <script>
       $(document).ready(function() {

    var readURL = function(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('.displayAddImage').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
         // pass the name of the selected file;
         $('#displayAddImage1').val(input.files[0].name);
         $('#displayAddImage2').val(input.files[0]);
    }
 
    $(".file-upload").change('change', function(){
       readURL(this);
    });
});
   </script>




    <script>
       const uploadPermit = document.querySelector('#upload-permit-form');
        let submitButton = document.getElementById('submit')
        //Create Event Listener To Allow Form Submission
        submitButton.addEventListener("click", (e) => {
          //Prevent Default Form Submission Behavior
         e.preventDefault();

          //Get Form Values
          const storeID = uploadPermit['storeID'].value;
          const storeImage = uploadPermit['displayAddImage1'].value;
          //const lng = uploadPermit['displayAddImage2'].value;

                //test upload image; 
        if(storeImage == 'permit-1.jpg') {
            var let_image_default = 'https://firebasestorage.googleapis.com/v0/b/drinktubig-bcaf5.appspot.com/o/permit-1.jpg?alt=media&token=651f1b70-f147-49f4-b130-7eb156884386';
        } else if(storeImage == 'permit-2.jpg') {
            var let_image_default = 'https://firebasestorage.googleapis.com/v0/b/drinktubig-bcaf5.appspot.com/o/permit-2.jpg?alt=media&token=be5fadce-dbd1-4815-8c8e-34effff76ab1';
        }
         

            db.collection('StoreList').doc(storeID).update({
            StorePermit: let_image_default
            // name: employeeName,
            // email: employeeEmail,
            // address: employeeAddress,
            // phone: employeePhone,
            // updatedAt : firebase.firestore.FieldValue.serverTimestamp()
            })
             .then(function () {
                     console.log('Success');
                     location.href = "view-stores.html";
                     //$("#acceptStoresModal").modal('hide');
                })
                .catch(function (error) {
                    console.error("Error deleting document: ", error);
                });
              })
        </script>


      </body>
   </html>
