<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>DrinkTubig: Mobile Based Water Refilling Stations Ordering and Delivery System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="assets/images/icon/favicon/favicon.ico">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/themify-icons.css">
    <link rel="stylesheet" href="assets/css/metisMenu.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/slicknav.min.css">
    <!-- others css -->
    <link rel="stylesheet" href="assets/css/typography.css">
    <link rel="stylesheet" href="assets/css/default-css.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <!-- modernizr css -->
    <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>
</head>


<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
  
    <!-- page container area start -->
    <div class="page-container">
        <!-- sidebar menu area start -->
        <div class="sidebar-menu">
            <div class="sidebar-header ">
                
                    <a href="dashboard.html"><!-- <img src="assets/images/icon/logo.png" alt="logo"> --><h2 style="color:white;text-align:center">DrinkTubig</h2></a>
            </div>
            <div class="main-menu">
                <div class="menu-inner">
                    <nav>
                          <ul class="metismenu" id="menu">
                             <li><a href="dashboard.html"><i class="fa fa-tachometer"></i> <span>Dashboard</span></a></li>
                             <li class="active"><a href="view-stores.html"><i class="fa fa-building"></i> <span>Stores</span></a></li>
                              <li><a href="view_products.html"><i class="fa fa-product-hunt"></i> <span>Products</span></a></li> 
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- sidebar menu area end -->
        <!-- main content area start -->
        <div class="main-content">
            <!-- header area start -->
            <div class="header-area">
                <div class="row align-items-center">
                    <!-- nav and search button -->
                    <div class="col-md-3 col-sm-8 clearfix">
                        <div class="nav-btn pull-left" style="background:none">
                            <span style="background-color:#b3aaaa"></span>
                            <span style="background-color:#b3aaaa"></span>
                            <span style="background-color:#b3aaaa"></span>
                        </div>
                    </div>
                     <div class="col-md-9 col-sm-6 clearfix text-right">
                        <div class="d-md-inline-block d-block mr-md-4">
                             <!-- Hide Notification First -->
                            <ul class="notification-area" hidden>
                                <li class="dropdown">
                                    <i class="ti-bell dropdown-toggle" data-toggle="dropdown">
                                        <span></span>
                                    </i>
                                    <div class="dropdown-menu bell-notify-box notify-box">
                                        <span class="notify-title">Notifications <a href="#">view all</a></span>
                                        <div class="nofity-list">
                                            <a href="#" class="notify-item">
                                                
                                                <div class="notify-text">
                                                    <p>You have Changed Your Password</p>
                                                    <span>8/03/2021</span>
                                                </div>
                                            </a>
                                            <a href="#" class="notify-item">
                                                
                                                <div class="notify-text">
                                                    <p>New Commetns On Post</p>
                                                    <span>7/29/2021</span>
                                                </div>
                                            </a>
                                            <a href="#" class="notify-item">
                                                
                                                <div class="notify-text">
                                                    <p>Some special like you</p>
                                                    <span>7/25/2021</span>
                                                </div>
                                            </a>
                                            <a href="#" class="notify-item">
                                                
                                                <div class="notify-text">
                                                    <p>New Commetns On Post</p>
                                                    <span>7/24/2021</span>
                                                </div>
                                            </a>
                                            <a href="#" class="notify-item">
                                                
                                                <div class="notify-text">
                                                    <p>Some special like you</p>
                                                    <span>7/20/2021</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                          <!-- Hide Notification -->
                        </div>
                        <div class="clearfix d-md-inline-block d-block">
                            <div class="user-profile m-0 p-2" style="background:none;">
                                <img class="avatar user-thumb" src="assets/images/author/avatar.png" alt="avatar" style="border:1px solid black;padding:3px">
                                <h4 class="user-name dropdown-toggle" data-toggle="dropdown" style="color:black"> <span id="display-name"></span> <i class="fa fa-angle-down"></i></h4>
                                <div class="dropdown-menu">

                                <a class="dropdown-item pt-2" href="profile-settings.html" style="font-size:16px;">Profile Settings</a>
                                
                                <hr>
                               <button class="dropdown-item" style="font-size:16px;" onClick="signOut()">Log Out</button>
                            </div>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
            <!-- header area end -->
            <!-- page title area start -->
            <div class="page-title-area">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <div class="breadcrumbs-area clearfix">
                            <h4 class="page-title pull-left">Stores</h4>
                            <ul class="breadcrumbs pull-left">
                                <li><a href="dashboard.html">Home</a></li>
                                <li><span>Stores</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 clearfix" style="height:60px;">
                       
                    </div>
                </div>
            </div>
            <!-- page title area end -->
           <div class="main-content-inner">
                <div class="row">
                    <!-- Progress Table start -->
                    <div class="col-12 mt-5">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="header-title" style="text-transform: none;">List of Stores</h4>
                                <a href="#addStoresModal" class="btn btn-success btn-sm" data-toggle="modal">Add Stores</a>
                                <div class="single-table">
                                    <div class="table-responsive">
                                        <table id="stores-table" class="table table-hover progress-table text-left">
                                            <thead class="text-uppercase">
                                                <tr>
                                                    <th scope="col">Store Image</th>
                                                    <th scope="col">Store Name</th>
                                                    <th scope="col">Store Address</th>
                                                    <th scope="col">Store Sitio</th>
                                                    <th scope="col">Store Phone Number</th>
                                                    <!-- <th scope="col">Store Open Time</th> -->
                                                    <th scope="col">Store Status</th>
                                                    <th scope="col"></th>
                                                </tr>
                                            </thead>
                                            <tbody>


                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Progress Table end -->
                </div>
            </div>
                    <!-- Progress Table end -->
        <!-- offset area start -->           
    </div>

    <!-- MODALS -->

        <div id="addStoresModal" class="modal fade" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="add-stores-form">
                    <div class="modal-header">
                        <h4 class="modal-title">Add Stores</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">

                         <input type="hidden" id="displayAddImage1">
                         <input type="hidden" id="displayAddImage2">

                          <div class="form-group">
                            <label>Store Image</label>
                             <div>
                                 <img class="displayAddImage img-thumbnail" aria-required="true" style="width: 100%; height: 200px; border:none;">
                             </div>
                             <!-- <button id="selectImageAdd" class="btn btn-success btn-sm mt-2">Add Image</button> -->
                             <input type="file" id="stores-image" class="text-center center-block file-upload mt-2 mb-2" required>
                              <label id="UpProgress"></label>
                        </div>

                        <div class="form-group">
                            <label>Sitio</label>
                            <select class="form-control" id="stores-sitio" required>
                                <option selected hidden>Select A Sitio</option>
                                <option value="Upper">Sitio Upper Bacayan</option>
                                <option value="Lower">Sitio Lower Bacayan</option>
                                <option value="Center">Sitio Center Bacayan</option>
                                <option value="Villa Leyson">Sitio Villa Leyson</option>
                                <option value="Huyong-huyong">Sitio Huyong-huyong</option>
                                <option value="Sugarlandia">Sitio Sugarlandia</option>
                                <option value="Common">Sitio Common</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" id="stores-name" class="form-control" required>
                        </div>

                        <div class="form-group">
                            <label>Store Address</label>
                           <div class="input-group mb-3">
                              <input type="text" class="form-control" id="stores-address" required>
                            </div>
                        </div>

                     
                        <div class="form-group">
                            <label>Phone</label>
                            <input type="text" id="stores-phone" class="form-control" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-success" value="Add">
                        <input type="button" class="btn btn-danger" data-dismiss="modal" value="Cancel">
                    </div>

                </form>
            </div>
        </div>
    </div>

    <!-- Edit Modal HTML -->
    <div id="editStoresModal" class="modal fade" data-backdrop="static" data-keyboard="false" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="edit-stores-form">
                    <div class="modal-header">
                        <h4 class="modal-title" id="staticBackdropLabel">Edit Stores</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                   <div class="modal-body">

                     <!--    <div class="form-group">
                            <label>Business Permit</label>
                             <div class="text-center bg-light">
                                 <img id="eventImg" aria-required="true">
                             </div>
                             <button id="select" aria-required="true">Select Image</button>
                             <label id="UpProgress"></label>
                        </div> -->

                        <div class="form-group">
                            <label>Sitio</label>
                            <select class="form-control" id="stores-sitio" required>
                                <option selected hidden>Select A Sitio</option>
                                <option value="Upper">Sitio Upper Bacayan</option>
                                <option value="Lower">Sitio Lower Bacayan</option>
                                <option value="Center">Sitio Center Bacayan</option>
                                <option value="Villa Leyson">Sitio Villa Leyson</option>
                                <option value="Huyong-huyong">Sitio Huyong-huyong</option>
                                <option value="Sugarlandia">Sitio Sugarlandia</option>
                                <option value="Common">Sitio Common</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" id="stores-name" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Address</label>
                            <textarea id="stores-address" class="form-control" required></textarea>

                        </div>

                        <div class="form-group">
                            
                        </div>
            
                        <div class="form-group">
                            <label>Phone</label>
                            <input type="text" id="stores-phone" class="form-control" required>
                        </div>
                    </div>
                     <div class="modal-footer">
                        <input type="submit" class="btn btn-success" value="Edit">
                        <input type="button" class="btn btn-danger" data-dismiss="modal" value="Cancel">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- DELETE MODAL -->
        <div id="deleteStoresModal" class="modal fade" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="delete-stores-form">
                    <div class="modal-header">
                        <h4 class="modal-title">Delete Stores</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete ?</p>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-danger" value="Delete">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                       
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!-- offset area end -->
    <!-- jquery latest version -->
    <script src="assets/js/vendor/jquery-2.2.4.min.js"></script>
    <!-- bootstrap 4 js -->
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/metisMenu.min.js"></script>
    <script src="assets/js/jquery.slimscroll.min.js"></script>
    <script src="assets/js/jquery.slicknav.min.js"></script>

    <!-- all line chart activation -->
    <script src="assets/js/line-chart.js"></script>
    <!-- all pie chart -->
    <script src="assets/js/pie-chart.js"></script>
    <!-- others plugins -->
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/scripts.js"></script>

    <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.48.0/mapbox-gl.js"></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.3.0/mapbox-gl-geocoder.min.js"></script>
    <script src="https://unpkg.com/mapbox@1.0.0-beta9/dist/mapbox-sdk.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
   integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
   crossorigin=""></script>
    
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-storage.js"></script>


     <script>
        var firebaseConfig = {
          apiKey: "AIzaSyCoOjba1Ej7CJzg_sNXdfMUhQwqbV5Cruo",
          authDomain: "drinktubig-bcaf5.firebaseapp.com",
          projectId: "drinktubig-bcaf5",
          storageBucket: "drinktubig-bcaf5.appspot.com",
          messagingSenderId: "865738659083",
          appId: "1:865738659083:web:60d90ffd1add62930a3e0e",
          measurementId: "G-8ETGGW6B5L"
        };
        firebase.initializeApp(firebaseConfig);
        const db = firebase.firestore();
        const storage = firebase.storage();
    </script>

    <script src="assets/firebase-js/stores-script.js"></script>

    <script>
        function getAddress(){
        var address = document.getElementById('stores-address').value;
        mapboxgl.accessToken = 'pk.eyJ1Ijoiam9obmFkb2xmbzEyMyIsImEiOiJja3Rndmg4dTAwbTZ1MnZxanNnbWFlNmYyIn0.S5Yvs93s5djIr8y5spdYWA';

        var geocoder = new MapboxGeocoder({
             accessToken: mapboxgl.accessToken
         });

          var client = new MapboxClient(mapboxgl.accessToken);

          var test = client.geocodeForward(address, function(err, data, res) {
                   // data is the geocoding result as parsed JSON
                   // res is the http response, including: status, headers and entity properties
             
                   var coordinates = data.features[0].center;

                   console.log(coordinates);
                   $('#stores-lat').val(coordinates[1]);
                   $('#stores-lng').val(coordinates[0]);
          });
        }
     </script>

   <script>
        function accessDenied() {
            location.href = "access-denied.html";
        }
    </script>

     <script>
     $( document ).ready(function() {
         firebase.auth().onAuthStateChanged((user) => {
              if (user) {
                // User is signed in, see docs for a list of available properties
                // https://firebase.google.com/docs/reference/js/firebase.User
                var uid = user.uid;
                var user = user;
           
                $('#display-name').html(user.displayName);
                  
                 } else {
                   // accessDenied();
                 }
               });
             });
     </script>

    <script>
        function signOut() {
          //var user = firebase.auth().currentUser;
          firebase.auth().signOut().then(function() {
            console.log('Signed Out');
            location.href = "../../login.html";
          }, function(error) {
            console.error('Sign Out Error', error);
          });
        }
    </script>

   <script>
       $(document).ready(function() {

    var readURL = function(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('.displayAddImage').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
         // pass the name of the selected file;
         $('#displayAddImage1').val(input.files[0].name);
         $('#displayAddImage2').val(input.files[0]);
    }
 
    $(".file-upload").change('change', function(){
       readURL(this);
    });
});
   </script>


       <script>
            // code for edit image
            document.getElementById("select").onclick = function(e) {

            var input = document.createElement('input');
            input.type = 'file';

            input.onchange = e => {
                files = e.target.files;
                reader = new FileReader();
                reader.onload = function() {
                    document.getElementById("eventImg").src = reader.result;
                }
                reader.readAsDataURL(files[0]);
            }
            input.click();

        }
    </script>


</body>

</html>